node_modules
npm-debug.log
Dockerfile*
docker-compose*
.dockerignore
.git
.gitignore
.env
*/bin
*/obj
README.md
LICENSE.txt
LICENSE
.vscode
build/
.idea/
cmake-build-debug/
docs/
.editorconfig
.gitignore
workspace.code-workspace
third-party/*
