**/.travis.yml
README.md
LICENSE.txt
LICENSE
.gitmodules
.git
.gitignore
.editorconfig
Doxyfile
docs
.dockerignore
Dockerfile
Dockerfile.travis
appveyor.yml
WORKSPACE
CONTRIBUTING.md
configure.ac
BUILD.bazel
ci
meson_options.txt
LICENSE.MIT
.github
doc
CODE_OF_CONDUCT.md
ChangeLog.md
.clang-tidy
benchmarks
CHANGES.md
LICENSE.md
README.rst
bench
example
INSTALL
meson.build