Dockerfile
build
.gitignore
.dockerignore
.git
.travis.yml
appveyor.yml
INSTALL
README.md
LICENSE
LICENSE.txt\
.clang-tidy
LICENST.MIT
WORKSPACE
.idea
.vscode
cmake-build-debug
cmake-build-release
Doxyfile
.gitmodules
.editorconfig
docs/
workspace.code-workspace
*/bin
*/obj
